<?xml version="1.0"?>
<config>
  <modules>
    <DreamSpark_Postmarkapp>
      <version>0.1.0</version>
    </DreamSpark_Postmarkapp>
  </modules>
  <global>
    <helpers>
      <postmarkapp>
        <class>DreamSpark_Postmarkapp_Helper</class>
      </postmarkapp>
    </helpers>
	<blocks>
	  <postmarkapp>
		<class>DreamSpark_Postmarkapp_Block</class>
	  </postmarkapp>
	</blocks>
	<models>
	  <postmarkapp>
		<class>DreamSpark_Postmarkapp_Model</class>
	  </postmarkapp>
        <core>
            <rewrite>
                <email_template>DreamSpark_Postmarkapp_Model_Core_Email_Template</email_template>
            </rewrite>
        </core>
	</models>
  </global>
  <admin>
	<routers>
	  <postmarkapp>
	    <use>admin</use>
		<args>
		  <module>DreamSpark_Postmarkapp</module>
		  <frontName>admin_postmarkapp</frontName>
		</args>
	  </postmarkapp>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <dreamspark module="postmarkapp">
		<title>Postmarkapp</title>
		<sort_order>100</sort_order>
		<children>
		  <postmarkappbackend module="postmarkapp">
			<title>Postmarkapp</title>
			<sort_order>0</sort_order>
			<action>admin_postmarkapp/adminhtml_postmarkappbackend</action>
		  </postmarkappbackend>
		</children>
	  </dreamspark>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<postmarkapp translate="title" module="postmarkapp">
			  <title>Postmarkapp</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <postmarkappbackend translate="title">
			<title>Postmarkapp</title>
		  </postmarkappbackend>
			  </children>
			</postmarkapp>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<postmarkapp>
		  <file>postmarkapp.xml</file>
		</postmarkapp>
	  </updates>
	</layout>
  </adminhtml>
	<default>
		<postmarkapp>
			<general>
				<enable>0</enable>
				<token></token>
			</general>
			<smtp>
				<enable>0</enable>
				<host>smtp.postmarkapp.com</host>
				<port>587</port>
				<username></username>
				<password></password>
				<ssl>no</ssl>
				<auth>crammd5</auth>
			</smtp>
		</postmarkapp>
	</default>
</config> 